body {background-color: rgb(25, 25, 25);}
h1 {
    line-height: 50px;
    color: rgb(189, 189, 189);
  }
  h2 {
    line-height: 45px;
    color: rgb(189, 189, 189);
  }
  h3 {
    color: rgb(189, 189, 189);
  }
  h4 {
    color: rgb(189, 189, 189);
  }
.white-text {
    color: rgb(189, 189, 189);
  }
  p {
    line-height: 3px;
    font-size: 18px;
    color: rgb(189, 189, 189);
  }
  a {
    font-size: 18px;
    color:rgb(92, 145, 251)
}
/* There is probably a better way to do this /