body {background-color: rgb(25, 25, 25);}
h1 {
    color: rgb(189, 189, 189);
  }
  h2 {
    color: rgb(189, 189, 189);
  }
  h3 {
    color: rgb(189, 189, 189);
  }
  h4 {
    color: rgb(189, 189, 189);
  }
.white-text {
    color: rgb(189, 189, 189);
  }
  p1 {
    color: rgb(189, 189, 189);
  }
  p2 {
    color: rgb(189, 189, 189);
    font-size: 18px;
  }
  p3 {
    color: rgb(189, 189, 189);
  }
  p4 {
    color: rgb(189, 189, 189);
  }
  a {
    font-size: 18px;
    color:rgb(92, 145, 251)
}
/* There is probably a better way to do this /