body {
  background: rgb(95,0,131);
  background: linear-gradient(199deg, rgba(95,0,131,1) 0%, rgba(8,4,33,1) 100%);
  font-family: Arial, Helvetica, sans-serif;
  height: fit-content;
  padding: 25px 0px;
}
.site {
  flex-direction: row;
  height: 1080px;
}
.main-page {
  /*border: 1px solid red;*/
  border: 2px solid rgb(32, 32, 32);
  padding: 25px;
  border-radius: 10px;
  max-width: 950px;
  margin: auto;
  background-color: rgb(25, 25, 25, 0.8);
}
h1 {
    line-height: 50px;
    color: rgb(189, 189, 189);
  }
  h2 {
    line-height: 45px;
    color: rgb(189, 189, 189);
  }
  h3 {
    color: rgb(189, 189, 189);
  }
  h4 {
    color: rgb(189, 189, 189);
  }
.white-text {
    color: rgb(189, 189, 189);
  }
  p {
    font-size: 110%;
    color: rgb(189, 189, 189);
  }
  a {
    font-size: 18px;
    color:rgb(92, 145, 251)
}
/* There is probably a better way to do this */